h1{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: white;
}
body{
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    border: 4px solid black;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}

.center{
    border-radius: 5px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background: linear-gradient(120deg,#8e44ad, #2980b9);
    opacity: 85%;
}
img{
    display: block;
    margin: auto;
    width: 30%;
    height: 100%;
    
}
label{
    color: white;
}
.loginbox{
    margin: 4px 0;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.row{
    display: flex;
    align-items: center;
    height: 30px;
}
.forgot{
    display: flex;
    justify-content: space-between;
}
.forgot .pass::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 23%;
    height: 3px;   
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.forgot .pass:hover::after{
    transform-origin: right;
    transform: scaleX(1);
}
.forgot .acc::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 30%;
    height: 3px;   
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.forgot .acc:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
a{
    text-decoration: none;
    color: white;
}
button{
    display: block;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
button:hover{
    background: rgb(92, 7, 88);
    color:rgb(8, 160, 180);
}







img{
    width: 40px;
    margin: 0%;
    box-sizing: border-box;
    
}
.Search{
    width: 20%;
    height: 70%;
    margin-left: 10px;
    border-radius: 20px;
    
}
.searchbar{
    justify-content: left;
    align-items: center;
    display: flex;
    height: 5vh;
    background-color: rgb(18, 19, 19);
    overflow:hidden;

}