.nav-link img {
  width: 31px;
}

.ppic img {
  width: 10rem;
  margin-top: -20px;
  border: 5px solid grey;

}


/*--------------left body----------------*/
/*--------------left body----------------*/

#leftnavigation {
  flex-basis: 20%;
  top: 50px;
}

#middle {
  flex-basis: 40%;

}

#rightnavigation {
  flex-basis: 20%;

}

/*----right and left spacer----------*/
.leftspacer,
.rightspacer {
  flex-basis: 10%;
  /*---------------------------------*/
}



.imp-links img {
  width: 20px;
  height: 20px;

}


/*center body*/
/*--------------center body----------------*/
.story img {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 10px;
  border-radius: 50px;
  border: 2px solid blue;
}

.story {
  flex-basis: 19%;
  padding-top: 32%;
  position: relative;
  background-position: cover;
  background-size: cover;
  border-radius: 10px;
}

.story2 {
  flex-basis: 19%;
  padding-top: 32%;
  position: flex;
  background-position: cover;
  background-size: cover;
  border-radius: 10px;
}

.story1 p {
  color: white;
}

.story1 i {
  position: block;
}

.feeds iframe {
  padding-bottom: 20px;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(story1.png);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(story2.jpg);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(story3.jpg);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(story4.jpg);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(story5.jpg);
}

/*--------------right navigation----------------*/
#rightnavigation {
  flex-basis: 20%;
  top: 75px;
}

.ads-list img {
  width: 400px;
}

.events {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.online-list {
  display: flex;
}

.online-list p {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.online img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #08e61b;
}

.left-event {
  border-radius: 10px;
  height: 70px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.events p {
  font-size: 12px;
}

.events a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.right-event h4,
p {
  padding-bottom: 10px;
}


.postpic {
  width: 50px;
  height: 50px;
}

.user img {
  width: 50px;
  height: 50px;
}

.pname a {
  color: black;
}


/*--------market css---------*/
.leftbody {
  background-color: #f8f7f7;
  flex-basis: 18%;
  height: 100%;
  color: #000000;
}

.leftbody a {
  color: #000000;
}

.rightbody {
  background-color: #e4e4e4;
  flex-basis: 82%;
  height: 100%;
  color: rgb(0, 0, 0);
}

.col img {
  width: 100%;
  height: 12rem;

}

.col {
  cursor: pointer;
}

.newforyou img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.list:hover {
  background: #cccccc;
}

.test a {
  color: #000000;
}

/*---------video css-----------*/
.leftbodynav {
  flex-basis: 18%;
  top: 0;
}


/*----------responsive--------------*/
@media only screen and (max-width:991px) {
  #leftnavigation{
    display: none;
  }
  .leftspacer{
    display: none;
  }
  .rightspacer{
    display: none;
  }
  #middle{
    flex-basis: 60% !important;
  }
  #rightnavigation{
    display: flex;
    flex-basis: 20% !important;
  }
}